name: Publish amis-admin fb-data docker image
permissions: {}
on:
  push:
    branches: [ "dev" ]
    paths:
      - backend/**
      - .github/workflows/build-fb-data.yml

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: "{{defaultContext}}:backend"
          platforms: linux/amd64,linux/arm64
          file: fb-data.Dockerfile
          push: true
          tags: fireboomapi/amis-admin_fb-data:latest
